
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, html{
    font-family: "Open Sans", serif;
    padding: 0;
    margin: 0;
}


h1{
    font-weight: 800;
    font-size: 50px;
}

h3{
    font-weight: bold;
    font-size: 30px;
}

h4{
    font-weight: bold;
    font-size: 20px;

}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

.hero-banner{
    background-color: #007FFF;
    height: 60vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.hero-banner h1{   
    color: white;
    margin: 14px 0 20px;
}

.hero-banner h3{   
    color: white;
    margin: 0 0 35px;
}

.hero-banner h4{   
    color: white;
    margin: 0;
}
.caracter1{
    background: url(img/circle-guy.png) no-repeat 0 0;
    background-size: 100%;
    width: 363px;
    height: 344px;
    position: absolute; top: 10%; right: 10%;
    transform: rotate(15deg);
}

.caracter2{
    background: url(img/hat-guy.png) no-repeat 0 0;
    background-size: 100%;
    width: 292px;
    height: 387px;
    position: absolute; top: 213px; right: 30%;
}

.caracter3{
    background: url(img/eish-guy.png) no-repeat 0 0;
    background-size: 100%;
    width: 200px;
    height: 264px;
    position: absolute; bottom: 20%; right: 20%;
}

a.cta,
button.cta{
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-color: #007FFF;
    display: inline-block;
    outline: 10px solid rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
}

a.cta.alt,
button.cta.alt{
    background-color: #ffd400;
    color: #111111;
    outline-color: rgba(0,0,0,.15);

}

nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
}

nav. logo{
    display: block;
    width: 300px;
    height: 40px;
    position: absolute; top: 50%; left: 0;
    margin-top: -20px;
    margin-left: 30px;
    background: url(img/logo.png) no-repeat 0 0;
    background-size: 100%; 
}
/* 
<nav>
        <a href="#" class="logo">The Gang</a>
        <ul>
            <li><a href="#">Sign up</a></li>
            <li><a href="#story">The Story</a></li>
            <li><a href="#more-info">More Info</a></li>
        </ul>
   </nav>

   */